.accordion {
    &__header-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__header-wrapper {
        display: flex;
        gap: 2rem;
    }

    &__header {
        font-weight: bold;
        display: inline-block;
    }

    &__heading {
        background-color: getColor(footerBg);
        color: getColor(textLight);
        fon-family: $sans-serif-headings;
        font-size: 1.5rem;
        padding: 0.75rem 1rem;
        border-radius: 3px 3px 0 0;
    }

    &__empty-item {
        background-color: getColor(primaryBg);
        border-radius: 0 0 4px 4px;
    }

    &__empty-message {
        @extend .base-margin;
        padding: 1rem;
    }

    &__date {
        color: getColor(textGray);
        display: inline-block;
        padding-right: 10%;
    }

    &__body-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;
    }
    
    &__info-container {
        @extend .base-margin;
        display: flex;
        gap: 1rem;
    }

    &__label {
        @extend .base-margin;
        font-weight: bold;
        width: 100px;
    }

    &__info {
        @extend .base-margin;
    }

    &__link {
        @extend .base-margin;
        text-decoration: underline;
        cursor: pointer;
        color: getColor(linkCol);
    }
}