html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
    font-family: $body-text;
    font-size: 1rem;
    background-color: getColor(secondaryBg);
     
    @media (min-width: getBreakpoint(large)) {
        background-image: url("../../images/background_pattern_grey.jpg");
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sticky-footer-wrapper {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.base-margin {
    margin: 0;
    padding: 0;
}

a {
    display: block;
}

header {
    background-color: getColor(primaryBg);
}

img {
    @extend .base-margin;
}




