.btn-primary {
    font-family: $button-text;
    text-decoration: none;
    // display: inline-block;
    background-color: getColor(primaryCol);
    color: getColor(textLight);
    width: auto;
    font-size: 1.125rem;
    border: none;
    border-radius: 100px;
    padding: 0.5rem 2rem;

    @media (min-width: getBreakpoint(large)) {
            font-size: 1.25rem;
        }

    &:hover {
        opacity: 0.75;
        background-color: getColor(primaryCol);
        color: getColor(textLight);
    }

    &:focus {
        background-color: getColor(primaryCol);
    }
}

.hero__button {
    display: inline-block;
    margin-top: 2rem;
}

.admin-button {
    background-color: getColor(adminCol);
    color: getColor(textLight);

    &:hover {
        background-color: getColor(adminCol);
        color: getColor(textLight);
    }
    
    &:focus {
        background-color: getColor(adminCol);
    }
}

.btn-secondary {
    font-family: $button-text;
    text-decoration: none;
    background-color: getColor(footerBg);
    color: getColor(textLight);
    font-size: 1.25rem;
    border-radius: 100px;
    border: none;
    padding: 0.5rem 2rem;
    opacity: 1;

    &:hover {
        opacity: 0.75;
    }
    
    &:focus {
        background-color: getColor(primaryBg);
        opacity: 1;
        outline: none;
    }
}

.form-button {
    margin-top: 1.5rem;
}

.back-link {
    display: inline-block;
    color: getColor(linkCol);
    font-size: 1.125rem;
    margin-top: 1.5rem;
    margin-left: 1rem;

    &:hover {
        color: getColor(linkCol);
        opacity: 0.75;
    }
}

.btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.log-button {
    font-size: 1.125rem;
}

.newsletter-button, .transparent-button {
    background-color: transparent;
    border: none;
}

.transparent-profile-button {
    background-color: transparent;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}


.delete-button {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    background-color: getColor(adminCol);
    position: absolute;
    top: 0;
    right: 0;
}

.description-button {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: getColor(textGray);
}