

.contact {
  &__heading {
      font-family: $serif-headings;
      margin-bottom: 1rem;
  }
}

.faq__link {
    display: inline;
    font-weight: 600;
    color: getColor(linkCol)
}

.faq__list-item {
    padding-bottom: 0.5rem;
}

.custom-input-container {
    position: relative;
    width: 100%;
    max-width: 400px;

    @media (min-width: getBreakpoint(small)) {
        min-width: 350px;
    }
}

.custom-input {
    border-radius: 25px;
    margin-top: 0.5rem;
    height: 2.8125rem;
    padding-left: 1.5rem;
}

.custom-input-icon-box {
    width: 3rem;
    height: 3rem;
    background-color: getColor(primaryCol);
    border-radius: 50%;
    position: absolute;
    top: -0.09375rem;
    right: 1.40625rem;
    transform: translateX(50%);
}

.form-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: getBreakpoint(xsmall)) {
        flex-direction: row;
        gap: 1rem;
    }

    @media (min-width: getBreakpoint(xsmall)) {
        gap: 2rem;
    }
}

.form-check-fieldset {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-check-wrapper {
    display: flex;
    gap: 3rem;
    

    @media (min-width: getBreakpoint(small)) {
        flex-direction: row;
        gap: 4rem;
    }
}

legend {
    font-size: 1.125rem;
    font-weight: bold;
}

.mb-3 {
    width: 100%;
}

.relative-input {
    position: relative;
}

.input-prefix {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: getColor(textDark);
    color: getColor(textLight);
    padding: 0.45rem 0.75rem;
    border-radius: 0 4px 4px 0;
}

.search-list {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    text-decoration: none;
}

// .rw-multiselect-input {
//     width: 100%;
// }
