.hero {
    &__heading {
        font-family: $serif-headings;
        font-weight: 900;
        color: black;
        margin-bottom: 1.5rem;
    }

    &__sub-heading-container {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem
    }

    &__dot {
        background-color: black;
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
    }

    &__sub-heading {
        font-size: 1.25rem;

        @media (min-width: getBreakpoint(large)) {
            font-size: 1.5rem;
        }
    }

    &__button {
        margin-top: 2rem;
    }
}