.about-card__quote-symbol {
    width: 2rem;

    path {
        fill: getColor(primaryCol);
    }
}

.navbar__search-icon-box {
    width: 2rem;
    height: 2rem;
    background-color: getColor(primaryCol);
    border: none;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease;

    @media (min-width: getBreakpoint(large)) {
        width: 2.5rem;
        height: 2.5rem;
    }

    &:hover {
        opacity: 0.7;
    }
}

.navbar__search-icon {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    path {
        fill: getColor(textLight);
    } 
}

.social-media-icon {
    width: 2rem;

    path {
        fill: getColor(textFooter);
    }
}

.menu-icon {
    width: 2rem;
    
    path {
        fill: getColor(linkCol);
    }
}

.chevron {
    width: 1.5rem;

    path {
        fill: getColor(linkCol);
    }
}

.bed-icon {
    width: 1.25rem;
    
    path {
        fill: getColor(secondaryCol);
    }
}

.bin-icon {
    width: 1.25rem;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);

    path {
        fill: getColor(textLight);
    }
}

.star-icon {
    width: 1.25rem;

    path {
        fill: getColor(primaryCol);
    }
}

.location-icon {
    width: 1.25rem;
    
    path {
        fill: getColor(borderCol);
    }
}

.plus-icon, .minus-icon {
    width: 1.75rem;
    
    path {
        fill: getColor(primaryCol);
    }
}

.navbar-toggler {
    position: absolute;
    top: 0;
    left: 0;
}

.font-awesome-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;

    @media (min-width: getBreakpoint(large)) {
        width: 2.5rem;
        height: 2.5rem;
    }

    &:hover {
        opacity: 0.75;
    }

    path {
        fill: getColor(textDark);
    }
}

.admin-logged-in {
    path {
        fill: getColor(adminCol);
    }
}

.facility-icon {
    width: 1.25rem;
    color: getColor(textDark)
}

.copyright-icon {
    width: 1.5rem;

    path {
        fill: getColor(subtleGray);
    }
}

.new-icon {
    width: 1.25rem;

    path {
            fill: getColor(primaryCol);
        }
}


