.ceo-card__quote-symbol {
    width: 2rem;

    path {
        fill: getColor(primaryCol);
    }
}

.navbar__search-icon-box {
    width: 2.5rem;
    height: 2.5rem;
    background-color: getColor(primaryCol);
    border: none;
    border-radius: 50%;
    position: relative;
}

.navbar__search-icon {
    width: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    path {
        fill: getColor(textLight);
    }
}

.social-media-icon {
    width: 2rem;

    path {
        fill: getColor(textLight);
    }
}

.chevron {
    width: 1.5rem;

    path {
        fill: getColor(linkCol);
    }
}

.bed-icon {
    width: 1.25rem;
    
    path {
        fill: getColor(textDark);
    }
}

.star-icon {
    width: 1.25rem;

    path {
        fill: getColor(primaryCol);
    }
}

.location-icon {
    width: 1.25rem;
    
    path {
        fill: getColor(borderCol);
    }
}

.bullet-icon {
    width: 1.5rem;
    
    path {
        fill: getColor(textDark);
    }
}

.navbar-toggler {
    position: absolute;
    top: 0;
    left: 0;
}

.font-awesome-icon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    path {
        fill: getColor(textDark);
    }
}

.admin-logged-in {
    path {
        fill: getColor(adminCol);
    }
}

.facility-icon {
    width: 1.25rem;
}

.copyright-icon {
    width: 1.5rem;

    path {
        fill: getColor(subtleGray);
    }
}

