main {
    padding-bottom: 4rem;

    @media (min-width: getBreakpoint(large)) {
        padding-bottom: 7rem;
    }
}

.container-fluid {
    @extend .base-margin;
}

.col {
    align-items: center;
    justify-self: center;
}

//navbar
.nav__wrapper {
    width: 91%;
    margin: 0 auto;

    @media (min-width: getBreakpoint(large)) {
        width: 85%;
    }
}

//newsletter
.newsletter__wrapper {
    width: 100%;
    margin: 0 auto;

    @media (min-width: getBreakpoint(large)) {
        width: 50%;
    }
}

//footer
.footer {
    &__wrapper {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &__container {
        width: 91%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        
        @media (min-width: getBreakpoint(large)) {
            flex-direction: row;
            width: 70%;
        }
        
        @media (min-width: getBreakpoint(xlarge)) {
            width: 65%;
        }
        
        @media (min-width: getBreakpoint(xxlarge)) {
            width: 60%;
        }
        
        @media (min-width: getBreakpoint(xxxlarge)) {
            width: 55%;
        }
    }
}

//home page
.hero__wrapper {
    background-color: #ffffffbf;
    width: 91%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 2rem 1.5rem 2.5rem 1.5rem;

    @media (min-width: getBreakpoint(small)) {
        width: 75%;
        padding: 2rem 3rem 2.5rem 3rem;
    }

    @media (min-width: getBreakpoint(medium)) {
        width: 60%;
    }

    @media (min-width: getBreakpoint(large)) {
        flex-direction: row;
        width: 50%;
    }
    
    @media (min-width: getBreakpoint(xlarge)) {
        width: 45%;
    }
    
    @media (min-width: getBreakpoint(xxlarge)) {
        width: 40%;
    }
    
    @media (min-width: getBreakpoint(xxxlarge)) {
        width: 35%;
    }
}

.carousel__wrapper {
    width: 100%;
    margin: 0 auto;
    
    @media (min-width: getBreakpoint(large)) {
        width: 85%;
    }

    @media (min-width: getBreakpoint(xlarge)) {
        width: 80%;
    }

    @media (min-width: getBreakpoint(xxlarge)) {
        width: 75%;
    }

    @media (min-width: getBreakpoint(xxxlarge)) {
        width: 70%;
    }
}

.category {
    &__wrapper {
        width: 91%;
        margin: 0 auto;
        padding-top: 3rem;
        
        @media (min-width: getBreakpoint(large)) {
            width: 85%;
        }
        
        @media (min-width: getBreakpoint(xlarge)) {
            width: 80%;
        }
        
        @media (min-width: getBreakpoint(xxlarge)) {
            width: 75%;
        }
        
        @media (min-width: getBreakpoint(xxxlarge)) {
            width: 70%;
        }
    } 

    &__flexbox {
        width: 100%;
        margin: 1.5rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        
        @media (min-width: getBreakpoint(medium)) {
            flex-direction: row;
            gap: 1rem;
        }
        
        @media (min-width: getBreakpoint(large)) {
            align-items: flex-start;
            gap: 2rem;
        }
        
        @media (min-width: getBreakpoint(xlarge)) {
            gap: 3rem;
        }
        
        @media (min-width: getBreakpoint(xxlarge)) {
            gap: 4rem;
        }
    }
}

//overview page
.overview__wrapper {
    width: 91%;
    margin: 0 auto;
    padding-top: 1.5rem;

    @media (min-width: getBreakpoint(large)) {
        width: 85%;
        padding-top: 2rem;
    }
}

//details page
.details__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    

    @media (min-width: getBreakpoint(large)) {
        width: 85%;
        padding-top: 4rem;
        flex-direction: row;
    }
}

.reviews__wrapper {
    width: 91%;
    margin: 0 auto;

    @media (min-width: getBreakpoint(large)) {
         width: 85%;
            
    }

}

//about page
.about {
    &__outer-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        
        @media (min-width: getBreakpoint(large)) {
            padding-top: 4rem;
            flex-direction: row;
            gap: 1rem;
            width: 85%;
        }

        @media (min-width: getBreakpoint(xlarge)) {
            width: 80%;
        }

        @media (min-width: getBreakpoint(xxxlarge)) {
            width: 75%;
        }

        @media (min-width: getBreakpoint(xxlarge)) {
            width: 70%;
        }
    }

    &__wrapper {
        width: 100%;
        margin: 0 auto;
        background-color: getColor(primaryBg);
        
        @media (min-width: getBreakpoint(large)) {
            width: 50%;
            border-radius: 0 25px 25px 0;
        }
    }

    &__container {
        padding: 1rem 1rem 4rem 1rem;
        
        @media (min-width: getBreakpoint(large)) {
            padding: 2rem 2rem 4rem 2rem;
        }
    }
}

//support page
.support {
    &__wrapper {
        width: 100%;
        padding-top: 2rem;
        margin: 0 auto;
        
        @media (min-width: getBreakpoint(large)) {
            width: 91%;
            padding-top: 4rem;
        }
        
        @media (min-width: getBreakpoint(xlarge)) {
            width: 85%;
        }
        
        @media (min-width: getBreakpoint(xxlarge)) {
            width: 80%;
        }
        
        @media (min-width: getBreakpoint(xxxlarge)) {
            width: 75%;
        }
    }

    &__flexbox {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        
        @media (min-width: getBreakpoint(large)) {
            flex-direction: row;
            margin-top: 2rem;
        }
        
        @media (min-width: getBreakpoint(xlarge)) {
            gap: 3rem;
        }
        
        @media (min-width: getBreakpoint(xxlarge)) {
            gap: 4rem;
        }
    }
}

.faq__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 4.5%;

    @media (min-width: getBreakpoint(large)) {
        border-radius: 25px;
        padding: 0;
    }
}

.contact__container {
    background-color: getColor(primaryBg);
    width: 100%;
    margin: 0 auto;
    padding: 2rem 4.5%;

    @media (min-width: getBreakpoint(medium)) {
        padding: 2rem 4rem;
        width: 85%;
        border-radius: 25px;
    }

    @media (min-width: getBreakpoint(large)) {
        width: 100%;
        padding: 2rem 3rem;
        
    }

    @media (min-width: getBreakpoint(xlarge)) {
        padding: 2rem 4rem;
    }

    @media (min-width: getBreakpoint(xxlarge)) {
        padding: 2rem 5rem;
    }
}

//admin dashboard page
.admin {
    &__header-wrapper {
        width: 91%;
        margin: 0 auto;
        padding-top: 2rem;
        padding-bottom: 2rem;

        @media (min-width: getBreakpoint(medium)) {
                width: 85%;
            }
        
        @media (min-width: getBreakpoint(large)) {
            padding-top: 4rem;
        }
    }

    &__body-wrapper {
        width: 100%;
        margin: 0 auto;
        
        @media (min-width: getBreakpoint(large)) {
            width: 85%;
        }
    }

    &__accordion-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;
        margin: 0 auto;

        @media (min-width: getBreakpoint(medium)) {
                width: 85%;
            }
        
        @media (min-width: getBreakpoint(large)) {
            flex-direction: row;
            width: 100%;
        }
    }

    &__accordion-container {
        width: 100%;
    }
}

//add establishment page
.add {
    &__wrapper {
        width: 100%;
        margin: 0 auto;
        
        @media (min-width: getBreakpoint(medium)) {
            width: 70%;
            padding-top: 4rem;
        }
        
        @media (min-width: getBreakpoint(xlarge)) {
            width: 60%;
        }
        
        @media (min-width: getBreakpoint(xxlarge)) {
            width: 55%;
        }
        
        @media (min-width: getBreakpoint(xxxlarge)) {
            width: 45%;
        }
    }

    &__container {
        background-color: getColor(primaryBg);
        width: 100%;
        margin: 0 auto;
        padding: 2rem 1rem;

        @media (min-width: getBreakpoint(xsmall)) {
            padding: 2rem 2rem;
        }

        @media (min-width: getBreakpoint(small)) {
            padding: 2rem 4rem;
        }
        
        @media (min-width: getBreakpoint(large)) {
            padding: 2rem 5rem;
            border-radius: 25px;
        }
    }
}









