main {
    padding-bottom: 4rem;

    @media (min-width: getBreakpoint(large)) {
        padding-bottom: 7rem;
    }
}

.container-fluid {
    @extend .base-margin;
}

.col {
    align-items: center;
    justify-self: center;
}

.nav__wrapper {
    width: 90%;
    margin: 0 auto;

    @media (min-width: getBreakpoint(large)) {
        width: 85%;
    }
}

.hero__wrapper {
    background-color: #ffffffbf;
    width: 90%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 2rem 1.5rem 2.5rem 1.5rem;

    @media (min-width: getBreakpoint(small)) {
        width: 75%;
        padding: 2rem 3rem 2.5rem 3rem;
    }

    @media (min-width: getBreakpoint(medium)) {
        width: 60%;
    }

    @media (min-width: getBreakpoint(large)) {
        flex-direction: row;
        width: 50%;
    }
    
    @media (min-width: getBreakpoint(xlarge)) {
        width: 45%;
    }
    
    @media (min-width: getBreakpoint(xxlarge)) {
        width: 40%;
    }
    
    @media (min-width: getBreakpoint(xxxlarge)) {
        width: 35%;
    }
}

.home__wrapper {
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;

    @media (min-width: getBreakpoint(large)) {
        width: 85%;
        padding-top: 4rem;
    }
    
    @media (min-width: getBreakpoint(xlarge)) {
        width: 80%;
    }
    
    @media (min-width: getBreakpoint(xxlarge)) {
        width: 75%;
    }
    
    @media (min-width: getBreakpoint(xxxlarge)) {
        width: 70%;
    }
}

.category__container {
    width: 90%;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
        
    @media (min-width: getBreakpoint(medium)) {
        flex-direction: row;
        gap: 1rem;
    }
        
    @media (min-width: getBreakpoint(large)) {
        width: 100%;
        align-items: flex-start;
        gap: 2rem;
    }
}

.overview__wrapper, .reviews__wrapper, .details__wrapper {
    width: 90%;
    margin: 0 auto;

    @media (min-width: getBreakpoint(large)) {
        width: 85%;
    }
}
.overview__wrapper {
    padding-top: 1.5rem;

    @media (min-width: getBreakpoint(large)) {
        padding-top: 2rem;
    }
}

.details__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    
    @media (min-width: getBreakpoint(large)) {
        padding-top: 4rem;
        flex-direction: row;
        width: 85%;
    }
}

.support__wrapper,
.admin__wrapper,
.add__wrapper,
.about-wrapper {
    width: 100%;
    padding-top: 2rem;
    margin: 0 auto;

    @media (min-width: getBreakpoint(small)) {
        width: 85%;
    }

    @media (min-width: getBreakpoint(large)) {
        padding-top: 4rem;
    }

    @media (min-width: getBreakpoint(xxlarge)) {
        width: 75%;
    }

    @media (min-width: getBreakpoint(xxxlarge)) {
        width: 70%;
    }
}

.about__container, .support__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: getBreakpoint(large)) {
        flex-direction: row;
    }
}

.about__container, .add__container {
    @media (min-width: getBreakpoint(medium)) {
        width: 85%;
    }

    @media (min-width: getBreakpoint(large)) {
        width: 80%;
    }

    @media (min-width: getBreakpoint(xlarge)) {
        width: 75%;
    }
    
    @media (min-width: getBreakpoint(xxxlarge)) {
        width: 70%;
    }
}

.about__container {
    @media (min-width: getBreakpoint(medium)) {
        padding-top: 2rem;
        gap: 0.5rem;
    }
        
    @media (min-width: getBreakpoint(large)) {
        padding-top: 4rem;
    }   
}

.support__container {
    margin-top: 1rem;
    gap: 2rem;
        
    @media (min-width: getBreakpoint(large)) {
        margin-top: 2rem;
    }
        
    @media (min-width: getBreakpoint(xlarge)) {
        gap: 3rem;
    }
        
    @media (min-width: getBreakpoint(xxlarge)) {
        gap: 4rem;
    }
}

.contact__container {
    background-color: getColor(primaryBg);
    width: 100%;
    margin: 0 auto;
    padding: 2rem 10%;

    @media (min-width: getBreakpoint(small)) {
        border-radius: 4px;
    }

    @media (min-width: getBreakpoint(large)) {
        width: 100%;
        padding: 2rem 5%;
    }
}

.admin {
    &__header {
        width: 90%;
        margin: 0 auto;
    
        @media (min-width: getBreakpoint(small)) {
             width: 100%;
        }
    }

    &__accordion-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;
        margin: 0 auto;

        @media (min-width: getBreakpoint(large)) {
            flex-direction: row;
        }
    }

    &__accordion-container {
        width: 100%;
    }
}

.add__container {
    background-color: getColor(primaryBg);
    // width: 100%;
    margin: 0 auto 3rem auto;
    padding: 2rem 10%;
    position: relative;

    @media (min-width: getBreakpoint(small)) {
        border-radius: 4px;
    }          
}

.newsletter__wrapper {
    width: 100%;
    margin: 0 auto;

    @media (min-width: getBreakpoint(large)) {
        width: 50%;
    }
}

.footer {
    &__wrapper {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &__container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

        @media (min-width: getBreakpoint(large)) {
            flex-direction: row;
            width: 70%;
        }

        @media (min-width: getBreakpoint(xlarge)) {
            width: 65%;
        }

        @media (min-width: getBreakpoint(xxlarge)) {
            width: 60%;
        }

        @media (min-width: getBreakpoint(xxxlarge)) {
            width: 55%;
        }
    }
}









