.modal-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: getBreakpoint(small)) {
        padding-left: 2rem;
    }
}

.modal__header-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.modal-body {
    padding: 1rem 1rem 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: getBreakpoint(small)) {
        padding: 1rem 3rem 2.5rem 3rem;
    }
}

.logout-modal__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem 2rem;
}

.logout-modal__user {
    // font-style: italic;
    font-size: 1.125rem;
}

.search-modal {
    &__list-group {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 0 3rem;
        font-size: 1.125rem;
        text-decoration: none;
    }

    &__list-item {
        border: none;
    }

    &__list-item-wrapper {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;
    }

    &__list-item-name {
        text-decoration: underline;
        padding-left: 0.25rem;
    }

    &__list-item-category {
        color: getColor(textGray)
    }
}

// .modal {
//     padding-left: 0px !important;
// }

// .modal-lg {
//     max-width: 550px;

//     @media (min-width: getBreakpoint(medium)) {
//         max-width: 650px;
//     }
// }



        


