.overview {
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        gap: 0.5rem;

        @media (min-width: getBreakpoint(large)) {
            flex-direction: row;
        }
    }
}