em {
    color: getColor(primaryCol);
    text-decoration: underline;
    font-style: normal;
}

strong {
    color: getColor(primaryCol)
}

h1, h2, h3, h4, h5, h6 {
    @extend .base-margin;
}

input {
    font-family: $input-text;
}

.hero {
    &__heading {
        font-family: $serif-headings;
        font-weight: 900;
        color: black;
        margin-bottom: 1.5rem;
    }

    &__sub-heading {
        font-size: 1.25rem;
        font-family: $sans-serif-headings;
        font-weight: 600;
        color: getColor(secondaryCol);

        @media (min-width: getBreakpoint(large)) {
            font-size: 1.5rem;
        }
    }
}

.overview__heading,
.admin__heading,
.category__heading,
.support__heading {
    font-family: $serif-headings;
    font-weight: 600;
    font-size: calc(1.375rem + 1.5vw);
}

.support__heading {
    width: 90%;
    margin: 0 auto;

    @media (min-width: getBreakpoint(small)) {
        width: 100%;
    }
}

.adm-accordion__heading {
    background-color: getColor(secondaryCol);
    color: getColor(textLight);
    font-family: $sans-serif-headings;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    border-radius: 0;
    
    
    @media (min-width: getBreakpoint(small)) {
        border-radius: 4px 4px 0 0;
    }
    
    @media (min-width: getBreakpoint(large)) {
        font-size: 1.375rem;
    }
}



.category__sub-heading {
    font-weight: 500;
    color: getColor(secondaryCol);
    padding-top: 0.25rem;
    
    @media (min-width: getBreakpoint(large)) {
        font-size: 1.125rem;
    }
}

.support__heading {
    padding-bottom: 1rem;
    border-bottom: 1px solid getColor(subtleGray);
}

.details__heading {
    font-family: $sans-serif-headings;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 0.25rem;

    @media (min-width: getBreakpoint(large)) {
        font-size: 2rem;
    }
}

.about__heading {
    font-family: $sans-serif-headings;
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    @media (min-width: getBreakpoint(large)) {
            font-size: 2rem;
        }
}

.about__text {
    color: getColor(textGray)
}

.about__slogan {
    font-family: $serif-headings;
    font-weight: 600;
    color: getColor(primaryCol);
    position: absolute;
    max-width: 250px;
    left: 1.5rem;
    top: 1rem;

    @media (min-width: getBreakpoint(large)) {
        left: 2rem;
        top: 1.5rem;
    }
}

.learn-more__slogan {
    font-family: $serif-headings;
    font-weight: 600;
    color: getColor(textDark);
    position: absolute;
    max-width: 250px;
    left: 10%;
    top: 2rem;

    @media (min-width: getBreakpoint(large)) {
        top: 3rem;
    }
}

.faq__heading {
    font-family: $sans-serif-headings;
    font-weight: 600;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;

    @media (min-width: getBreakpoint(small)) {
            font-size: 1.75rem;
        }

    @media (min-width: getBreakpoint(large)) {
            font-size: 2rem;
        }
}





