em {
    color: getColor(primaryCol);
    text-decoration: underline;
    font-style: normal;
}

strong {
    color: getColor(primaryCol)
}

h1, h2, h3, h4, h5, h6 {
    @extend .base-margin;
}

input {
    font-family: $input-text;
}

.category__heading, .support__heading {
    font-family: $sans-serif-headings;
    font-size: 2rem;
    font-weight: 800;
    padding-left: 4.5%;

    @media (min-width: getBreakpoint(large)) {
        font-size: 2.5rem;
        padding-left: 0;
    }
}

.support__heading {
    padding-bottom: 1rem;
    border-bottom: 1px solid getColor(subtleGray);
}

.details-heading {
    font-family: $sans-serif-headings;
    font-size: 2rem;
    font-weight: 800;
}

.about__heading {
    font-family: $sans-serif-headings;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.about__text {
    color: getColor(textGray)
}

.about__slogan {
    font-family: $serif-headings;
    font-weight: 600;
    color: getColor(primaryCol);
    position: absolute;
    max-width: 250px;
    left: 1.5rem;
    top: 1rem;

    @media (min-width: getBreakpoint(large)) {
        left: 2rem;
        top: 1.5rem;
    }
}

.form-heading {
    font-family: $sans-serif-headings;
    margin-bottom: 1rem;
    font-weight: 600;
}

.accordion-heading {
    background-color: getColor(footerBg);
    color: getColor(textLight);
    font-family: $sans-serif-headings;
    font-size: 1.5rem;
    padding: 0.75rem 1rem;
    border-radius: 3px 3px 0 0;
}

.card-text {
    @extend .base-margin;  
}

.form-error {
    display: inline-block;
    color: getColor(dangerCol);
    margin-top: 0.25rem;

    &::before {
        content: "* "
    }
}

.faq__heading {
    font-family: $sans-serif-headings;
    margin-bottom: 0.5rem;
}

.admin__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;

    @media (min-width: getBreakpoint(large)) {
        flex-direction: row;
    }
}